@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to the Claim System</h2>
<p>Click on 'Claims' in the navigation bar to go to the Claim Submission Prototype.</p>
